<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SonarQube - Sonar-Pebolim Sonar way" ToolsVersion="17.0">
  <Include Path="..\.sonarlint\unfailing-divinely-diffused-undoing-retrain-revision-strategic6-life-scoundrel-deviantcsharp.ruleset" Action="Default" />
  <Include Path="..\.sonarlint\unfailing-divinely-diffused-undoing-retrain-revision-strategic6-life-scoundrel-deviantcsharp.ruleset" Action="Default" />
</RuleSet>